:root {
	--font-display: 'Oswald', sans-serif;
	--font-text: 'Libre Franklin', sans-serif;
	--inner-width: 56rem;
	font-synthesis: none;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-text);
}

nav {
	padding: 1.25rem 2rem;
	background-image: linear-gradient(to bottom, rgba(0 0 0 / 0.5), transparent);
	display: flex;
	width: 100%;
	align-items: center;
	gap: 1rem;

	h1 {
		font-family: var(--font-display);
		letter-spacing: -2%;
		font-size: 2rem;
		line-height: 1;
		margin: 0;
		font-weight: 400;
		color: white;
	}

	a {
		color: white;

		&:first-of-type {
			margin-right: auto;
			text-decoration: none;
		}

		&:not(:has(> h1)) {
			text-transform: uppercase;
			font-size: .75rem;
			letter-spacing: 1px;
			font-weight: 500;
			text-decoration-style: dashed;
			text-underline-offset: 4px;
			text-shadow: 0 2px rgb(from black r g b / 0.25);
		}

		h1 {
			text-shadow: 0 2px rgb(from black r g b / 0.1);
		}
	}
}

